- breadcrumb :administrador
.py-5
  .container
    .row
      =render "home/panel"
      .col-md-9
        .card.p-2
          .card-body
            %h1.mb-3.text-center Administrar
            .row
              .col-md-3
                =link_to "Categorias", categories_path, class: "btn btn-primary btn-block my-2"
              .col-md-3
                =link_to "NuevaCategorias", new_category_path, class: "btn btn-primary btn-block my-2"
              .col-md-3
                %a.btn.btn-primary.btn-block.my-2{:href => "products.html"}
                  Productos
              .col-md-3
                %a.btn.btn-primary.btn-block.my-2{:href => "../products/form.html"}
                  Nuevo Producto
