- breadcrumb :purchases
.py-5
  .container
    .row
      =render "home/panel"
      .col-md-9
        .card.p-2
          .card-body
            - if @payments.present?
              %h1.mb-3.text-center.text-capitalize=params[:action]
              %h3.mb-2.text-center Productos
              %ul.list-group
                - @payments.each do |pay|
                  %li.list-group-item.d-flex.justify-content-between.align-items-center
                    %p= "Compra #{pay.paypal_id}"
                    = link_to "Ver Mas", payment_path(pay), class: "btn btn-info"
            - else
              %h1.text-center Lo Siento
              %h5.text-center No Hay Informacion De Compras...
