/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap-sweetalert";

// $theme-colors: (
//   primary:  #880e4f,
//   secondary: #492898,
//   info: #7043eb
// );

.bg-secondary, .pie{
    background-color: #492898 !important;
}

body{
  background: #E6E6E6;
}
.breadcrumbpropio{
  background: #ded9d9;
  border-radius: 6px;
  padding: 10px;
  margin-top: 15px;
}
.botones-pegados{
  margin-bottom: 10px;
}

.ir-arriba{
  display: none;
  padding: 20px;
  background: #fcae70;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 35px;
  right: 20px;
  border-radius: 35px;
  background: url('flecha.png');
  background-size: cover;
}
